@use '../../utils' as u;

.hero {
	margin: 0 auto u.rem(135);
}

.container {
	display: flex;
	justify-content: space-between;
}

.content {
	padding-top: u.em(145, 18);
	max-width: u.em(480, 18);
	
	.title {
		font-size: 3rem;
		margin-bottom: u.rem(40);
		text-align: start;
	}

	p {
		margin-bottom: u.rem(40);
	}

  a:first-child {
		margin-right: 1rem;
	}

	a:last-child {
		background-color: rgb(247, 247, 247);
		box-shadow: 0px 4px 10px 0px rgba(37, 43, 70, 0.25);
		color: var(--neutral-very-dark-blue);
		padding: u.em(15) u.em(20);
		border-radius: 5px;
		border: u.rem(2) solid white;
	}

	a:last-child:hover {
		background-color: white;
		color: var(--neutral-very-dark-blue);
		border: u.rem(2) solid var(--neutral-very-dark-blue);
	}
}

.image {
	position: relative;
	max-width: 58vw;
	padding-top: u.rem(62);
	padding-bottom: u.rem(28);
	margin-right: -(u.rem(65));

	img {
		position: relative;
		z-index: 5;
	}

	.figure {
		top: 35%;
		left: 25%;
		padding-right: 5000px;
	}
}
