@use "../../utils" as u;

.hero {
  margin: 0 auto u.rem(135);

	@include u.breakpoint(medium) {
		margin: 0 auto u.rem(157);
	}
}

.container {
  display: flex;
  justify-content: space-between;

  @include u.breakpoint(medium) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.info {
  max-width: u.rem(480);

	@include u.breakpoint(medium) { 
		width: 100%;
	}

  .content {
    padding-top: u.em(145, 18);

    @include u.breakpoint(medium) {
      text-align: center;
    }

    .title {
      font-size: 3rem;
      margin-bottom: u.rem(34);
      text-align: start;

      @include u.breakpoint(medium) {
        font-size: 2.5rem;
        text-align: center;
      }

			@include u.breakpoint(small) {
        font-size: 2rem;
        text-align: center;
      }
    }

    p {
			text-align: left;
      margin-bottom: u.rem(36);

			@include u.breakpoint(medium) {
				text-align: center;
			}
    }

    .buttons {

			@include u.breakpoint(medium) {
				justify-content: center;
			}

      a:first-child {
        margin-right: 1rem;
      }

      a:last-child {
        background-color: rgb(247, 247, 247);
        box-shadow: 0px 4px 10px 0px rgba(37, 43, 70, 0.25);
        color: var(--neutral-very-dark-blue);
        padding: u.em(15) u.em(20);
        border-radius: 5px;
        border: u.rem(2) solid white;
      }

      a:last-child:hover {
        background-color: white;
        color: var(--neutral-very-dark-blue);
        border: u.rem(2) solid var(--neutral-very-dark-blue);
      }
    }
  }
}

.image {
  position: relative;
  padding-top: u.rem(62);
  padding-bottom: u.rem(28);
  margin-right: -(u.rem(65));

  @include u.breakpoint(medium) {
    margin-right: -(u.rem(33));
    margin-left: -(u.rem(33));
  }

  img {
    position: relative;
    z-index: 5;
  }

  .figure {
    top: 35%;
    left: 25%;
    padding-right: 5000px;
  }
}
