@use "../../utils/" as u;

.extension {
	margin-bottom: u.rem(244);

	@include u.breakpoint(medium) {
		margin-bottom: u.rem(146);
	}
}

.header {
  max-width: u.rem(535);
  margin: 0 auto;

  .title {
    margin-bottom: u.rem(38);

		@include u.breakpoint(medium) {
			margin-bottom: u.rem(25);
		}
  }

  .text {
    margin-bottom: u.rem(55);

		@include u.breakpoint(medium) {
			margin-bottom: u.rem(43);
		}
  }
}

.cards {
	
	@include u.breakpoint(medium) {
		flex-direction: column;
		align-items: center;
		gap: u.rem(40);
	}

	.card:first-child {
		margin-left: u.rem(34);

		@include u.breakpoint(medium) {
			margin-left: initial;
		}
	}

	.card {
		// height: u.rem(372);
		// max-width: u.rem(280);
		min-width: 0;
		border-radius: 15px;
		margin-right: u.rem(34);
		box-shadow: 0px 7.5px 15px -5px rgba(83, 104, 223, 0.25);

		@include u.breakpoint(medium) {
			margin-right: initial;
		}
	
		.card-content {
			text-align: center;
			margin: 0 u.rem(25);
			padding-top: u.rem(50);
			border-bottom: 2.5px dotted rgba(145, 148, 161, 0.4);
	
			.card-image {
				width: u.rem(100);
				max-height: u.rem(100);
				margin-bottom: u.rem(37);
	
				img {
					width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
	
			h4 {
				margin-bottom: u.rem(18);
				font-size: u.rem(22);
			}
	
			p {
				font-size: 1rem;
				margin-bottom: u.rem(40);
			}
		}
	
		.card-btn {
			padding: u.rem(24) 0;
			font-size: u.rem(14);
	
			a {
				// font-size: clamp();
				margin: 0 u.rem(25);
				text-align: center;
			}
		}
	}
	
	@for $i from 0 through 2 {
		.card-#{$i + 1} {
			transform: translateY(40 * $i + px)
		}

		@include u.breakpoint(medium) {
			.card-#{$i + 1} {
				transform: translateY(0);
			}
		}
	}

}
