@use "../../utils/" as u;

.section {
  width: 100%;
  background-color: var(--primary-soft-blue);
  margin: 0 auto;
  padding: 0 u.rem(32);

  .header {
    color: white;
    text-align: center;
    max-width: u.rem(410);
    margin: 0 auto;
    margin-bottom: u.rem(45);

    p {
      font-size: u.rem(14);
      color: white;
      padding-top: u.rem(73);
      margin-bottom: u.rem(48);
      letter-spacing: u.rem(5);
      text-transform: uppercase;
    }

    h2 {
      color: white;
    }
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
		flex-wrap: wrap;
    margin: 0 auto;
    max-width: u.rem(445);
    padding-bottom: u.rem(74);

    .input {
			position: relative;
			width: u.rem(300);

      input {
				z-index: 3;
				font-size: u.rem(14);
				position: relative;
        max-width: u.rem(300);
        border-radius: u.rem(5);
        border: none;
        outline: none;
        padding: u.rem(15) u.rem(17);
				border: u.rem(2) solid white;
      }

      input.invalid {
        border: u.rem(2) solid var(--primary-soft-red);
      }

			.error {
				z-index: 2;
				position: absolute;
				top: 65%;
				transform: translateY(-50%);
				font-size: u.rem(10);
				padding: u.rem(8) u.rem(12);
				padding-top: u.rem(14);
				font-style: italic;
				color: white;
				width: 100%;
				background-color: var(--primary-soft-red);
				border-radius: 0 0 5px 5px;
				transition: all 0.2s ease-in-out;
			}

			.error.invalid {
				transform: translateY(25%);
			}

      img {
				z-index: 5;
				// display: none;
				user-select: none;
				pointer-events: none;
				position: absolute;
				right: u.rem(15);
				top: 50%;
				transform: translateY(-50%);
      }
    }

    .btn {
      font-size: u.rem(14);
      background-color: var(--primary-soft-red);
      color: white;
      border-radius: u.rem(5);
      padding: u.rem(17) u.rem(21);
      cursor: pointer;
			border: u.rem(2) solid var(--primary-soft-red);
    }

    .btn:hover {
      background-color: white;
      color: var(--primary-soft-red);
      border: u.rem(2) solid var(--primary-soft-red);
    }
  }
}
