@use "../../utils" as u;

.burger {
  top: 3rem;
  right: 2rem;
  position: fixed;
  z-index: 20;
  display: none;

  @include u.breakpoint(medium) {
    display: block;
  }

  .menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: u.rem(32); //18 15
    height: u.rem(32);
    cursor: pointer;
    z-index: 20;
    padding: u.rem(7) u.rem(8.5);
    background-color: white;
    box-shadow: 0 0 u.rem(30) 0 rgba(0, 0, 0, 0.175);
    border-radius: 100%;
    @include u.flex-center;

    & > div {
      position: relative;
      width: 100%;
      height: u.rem(3);
      background-color: var(--neutral-very-dark-blue);
      flex: none;
      transition: all var(--anim-duration) ease;
    }

    & > div::before,
    & > div::after {
      content: "";
      position: absolute;
      z-index: 20;
      top: u.rem(-6);
      left: 0;
      width: 100%;
      height: u.rem(3);
      background: inherit;
      transition: all var(--anim-duration) ease;
    }

    & > div::after {
      top: u.rem(6);
    }
  }

  .menu-button > div.open {
    transform: rotate(135deg);
    background-color: var(--primary-soft-red);
  }

  .menu-button > div.open::after,
  .menu-button > div.open::before {
    top: 0;
    transform: rotate(90deg);
    background-color: var(--primary-soft-red);
  }

  .menu-button > div.open::after {
    opacity: 0;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // pointer-events: none;
  backface-visibility: hidden;
  visibility: hidden;
  overflow: hidden;
  z-index: 17;
  @include u.flex-center;

  .menu {
    @include u.flex-center;
    flex-direction: column;
    justify-content: space-between;
    font-size: u.rem(18);
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-very-dark-blue);
    opacity: 0.9;
    // border-radius: 50%;
    // transform: scale(0);
    overflow: hidden;
    z-index: 17;
    pointer-events: none;
		user-select: none;

    > img {
      position: absolute;
      top: 3rem;
      left: 2rem;
    }

    img + div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: u.rem(113) u.rem(32) u.rem(48);

      .mobile-nav {
        width: 100%;
        max-width: u.rem(308);

        .links {

					ul {
						margin-bottom: u.rem(24);

						li {
							width: 100%;
							border-top: 1px solid var(--neutral-grayish-blue);
							padding: u.rem(25) 0;
							text-align: center;
						}
	
						li:last-child {
							border-bottom: 1px solid var(--neutral-grayish-blue);
						}
					}

          + .login-btn {
						text-align: center;
						display: block;
						width: 100%;
						padding: u.rem(15) 0;
						border: 2px solid white;
						border-radius: 5px;
          }
        }
        a {
					text-transform: uppercase;
          color: white;
					transition: color 0.3s ease-in-out;
        }

				a:hover {
					color: var(--primary-soft-red);
				}
      }
    }
  }

  &.open {
    visibility: visible;
		opacity: 1;
		transition: opacity 0.5s linear;
    .menu {
			pointer-events: auto;
      // transform: scale(1);
    }
  }
}

.visible {
	visibility: visible;

}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
}
