@use "../../utils" as u;

.burger {
  display: none;

  @include u.breakpoint(medium) {
    display: block;
  }

  .menu-button,
  .menu-button-open {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
    cursor: pointer;
    width: u.rem(18);
    height: u.rem(15);
    z-index: 20;
  }
		
}

.mobile {
	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		font-size: u.rem(18);
		width: 100%;
		height: 100vh;
		background-color: var(--neutral-very-dark-blue);
		opacity: 0.9;
		z-index: 17;
			a {
				color: white;
			}

			.login-btn {
				
			}
	}
}
