:root {
	//primaries
	--primary-soft-blue: hsl(231, 69%, 60%);
	--primary-soft-red: rgb(250, 87, 87);
	//neutrals
	--neutral-grayish-blue: hsl(229, 8%, 60%);
	--neutral-very-dark-blue: hsl(229, 31%, 21%);

	--anim-duration: 0.4s;
}