@use '../utils/functions' as f;

html {
	box-sizing: border-box;
	font-size: 100%; //16 => 24px x1.5
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: f.rem(8) f.rem(32);
	font-size: f.rem(18); // 27px
	font-family: 'Rubik', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container {
	max-width: f.rem(1440);
}

.none {
	display: none;
}

.flex {
	display: flex;
}

.ai-center {
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.uppercase {
	text-transform: uppercase;
}

.m-auto {
	margin: 0 auto;
}

.red-btn {
	background-color: var(--primary-soft-red);
	color: white;
	padding: f.em(16) f.em(35);
	border-radius: 5px;
}

.red-btn:hover {
	background-color: white;
	outline: f.rem(2) solid var(--primary-soft-red);
	color: var(--primary-soft-red);
}

.header-links, .footer-links {
	gap: f.em(50, 14);
}
