@use '../utils' as u;

html {
	box-sizing: border-box;
	font-size: 100%; //16 => 24px x1.5
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: u.rem(18); // 27px
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

h1, h2, h3 {
	color: var(--neutral-very-dark-blue);
	font-weight: 500;
	margin: 0;
	text-align: center;
}

h2, h3 {
	font-size: 2rem;
}

p {
	color: var(--neutral-grayish-blue);
	font-weight: 400;
}

a {
	text-decoration: none;
	// font-family: ;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	object-fit: contain;
}

input,textarea {
	width:100%;
	display:block 
}

.container {
	max-width: u.rem(1440);
	padding: 0 u.rem(32);
}

.none {
	display: none;
}

.flex {
	display: flex;
}

.jc-sb {
	justify-content: space-between;
}

.ai-center {
	align-items: center;
}

.jc-center {
	justify-content: center;
}

.flex-col {
	flex-direction: column;
}

.uppercase {
	text-transform: uppercase;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: block;
	width: max-content;
	transition: all 0.1s ease-in-out;
	border: none;
}

.default-btn {
	border: none;
	background-color: var(--primary-soft-blue);
	color: white;
	padding: u.em(15) u.em(19);
	border-radius: 5px;
	box-shadow: 0px 4px 10px 0px rgba(83, 104, 223, 0.25);
	border: u.rem(2) solid var(--primary-soft-blue);
}

.default-btn:hover {
	background-color: white;
	border: u.rem(2) solid var(--primary-soft-blue);
	color: var(--primary-soft-blue);
}

.red-btn {
	background-color: var(--primary-soft-red);
	color: white;
	padding: u.em(11) u.em(31);
	border-radius: 5px;
	box-shadow: 0px 4px 10px 0px rgba(83, 104, 223, 0.25);
	border: u.rem(2) solid var(--primary-soft-red);
}

.red-btn:hover {
	background-color: white;
	border: u.rem(2) solid var(--primary-soft-red);
	color: var(--primary-soft-red);
}

.link {
	transition: color 0.1s ease-in-out;
}

.header-links, .footer-links {
	gap: u.em(50, 14);
}

.figure {
	position: absolute;
	z-index: 2;
	width: u.rem(500);
	height: u.rem(360);
	border-radius: 99999px;
	background-color: var(--primary-soft-blue);
}